<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StadtLandFluss | Loading</title>
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <style>
        *{
            font-family: 'Acme', sans-serif;
            overflow: hidden;
        }
        body{
            background-color: #B8FFF9;
        }
        h1{
            font-size: 40px;
            text-align: center;
            margin-top: 50vh;
        }
        .image{
            position: absolute;
            margin-top: 30vh;
            width: 100vw;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="image"><img src="loadingGIF.svg"></div>
    <h1>Sie sind in der Lobby! Warten Sie bis der Host das game startet...</h1>
</body>
</html>